body {
  background-image: url('./assets/backgroundpc.jpg');
  background-size: cover;       /* Make sure it covers the full area */
  background-repeat: no-repeat; /* Prevent tiling */
  background-attachment: fixed; /* Stays fixed while scrolling */
  background-position: center;  /* Optional: center the image */
  margin: 0;
  padding: 0;
  color: white;
}

.contact-wrapper {
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

.contact-button {
  background-color: oklab(44.834% -0.01651 -0.30026);
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
  font-size: 16px;
}

.contact-wrapper:hover .contact-button {
  color: transparent;
  background-color: transparent;
}


.contact-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 15px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease, visibility 0s 0.3s;
  z-index: 3;
}

.contact-wrapper:hover .contact-icons {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.contact-icons .icon {
  font-size: 20px;
  color: white;
  border-radius: 50%;
  padding: 12px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon.whatsapp {
  background-color: #25D366;
}

.icon.phone {
  background-color: #4285F4;
}

.contact-wrapper:hover .icon.whatsapp {
  transform: translateX(-10px) scale(1.1);
}

.contact-wrapper:hover .icon.phone {
  transform: translateX(10px) scale(1.1);
}